body {
    background-image: url("src/assets/placeholder_3.png");
    background-repeat: no-repeat;
    /* background-size: 1600px 1100px; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 95vh;
}

h1 {
    font-family: "Times New Roman", Times, serif;
}

label {
    font-family: "Times New Roman", Times, serif;
}

button {
    font-family: "Times New Roman", Times, serif;
}