<body>
    <section>
        <div style="font-weight: bolder;" class="center">
            <h2 class="bg-dark text-light p-4" style="text-align: center;">Welcome to University Admission Program, 2021
            </h2><br>
            <p style="text-align: center;font-family: 'Times New Roman', Times, serif;font-size: larger;margin-left: 2em;margin-right: 2em;"
                class="text-dark mt-2"><strong>Our institute provides students with a supportive and nurturing education
                    environment.
                    We rank the enhancement of students’ education outcomes and welfare as the highest priority of the
                    Institute.
                    We have a multicultural learning environment have students from diversified cultures.
                    New students will quickly become part of our institute family where they learn in safe, friendly,
                    multicultural classrooms. Students are encouraged and supported to participate in classes to develop
                    the personal skills and confidence necessary to gain a career.
                    Our institute is the right choice to further your education.</strong>
            </p>
            <br>
            <div class="text-center">
                <a id="button" class="btn btn-sm btn-primary col-sm-2 mx-auto center"
                    style="font-family: 'Times New Roman', Times, serif;" routerLink="/headerapplicant/add">Apply
                    Now</a>
            </div>
        </div>
    </section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top"
                        style="background-image: url('assets/bigstock-Multiethnic-Students-Taking-Gr-243636175.jpg'); background-repeat: no-repeat; background-size: cover;">
                    <div class="card-body">
                        <h5 class="card-title"><strong>UPCOMING EVENTS</strong></h5>
                        <p class="card-text">
                            OUR EVOLVING NARRATIVE: ALUMINI REFLECTIONS ACROSS GENERATIONS
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top"
                        style="background-image: url('assets/images (2).jpg');background-repeat: no-repeat; background-size: cover;">

                    <div class="card-body">
                        <h5 class="card-title">CHAMP 2021</h5>
                        <p class="card-text">
                            CHAMP 2021 is a program that will be bringing out the best out of students in accordance to
                            their field of interest.Apply Fast, limited seats are remaining.
                        </p>
                        <div class="text-center">
                            <a id="button1" class="btn btn-sm btn-primary col-sm-2 mx-auto center"
                                routerLink="/headerapplicant/add">CHAMP 2021 Registrations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<router-outlet></router-outlet>